agraffe==0.2.0
aiodns==2.0.0
aiohttp==3.6.3
async-timeout==3.0.1
attrs==20.2.0
brotlipy==0.7.0
cchardet==2.1.6
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
fastapi==0.61.1
gitdb==4.0.5
gitpython==3.1.9
h11==0.11.0
idna==2.10
multidict==4.7.6
pycares==3.1.1
pycparser==2.20
pydantic==1.6.1
pyyaml==5.3.1
requests==2.24.0
smmap==3.0.4
starlette==0.13.6
typing-extensions==3.7.4.3
urllib3==1.25.10
uvicorn==0.12.1
yarl==1.5.1
